.media-grid {
  list-style-type: none;
  background: #846f8d;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.media-grid li {
  background: $mediagrid;
  float: left;
  height: 200px;
  width: 20%;
}

.media-grid li:nth-child(even) {
  background: $mediagridEven;
}

.media-grid.media-grid-sm li {
  width: 10%;
  height: 100px;
}

.media-grid li img{
  display: block;
  height: 180px;
  width: 180px;
  margin: auto;
  margin-top: 10px;
  @include border-radius(50%);
  transition: box-shadow 1s;
  z-index: 2;

  &:hover{
    box-shadow: 0 0 20px 3px #FFF;;
  }
}
